package components

import (
	"csv-server/components/button"
	"csv-server/components/icon"
)

type CopyButtonProps struct {
	Value string
}

templ CopyButton(props CopyButtonProps) {
	@button.Button(button.Props{
		Size:    button.SizeIcon,
		Variant: button.VariantGhost,
		Class:   "copy-btn",
		Attributes: templ.Attributes{
			"type":      "button",
			"data-copy": props.Value,
		},
	}) {
		<span class="copy-btn-icon copy-btn-icon-default" aria-hidden="true">
			@icon.Copy(icon.Props{Size: 13})
		</span>
		<span class="copy-btn-icon copy-btn-icon-copied" aria-hidden="true">
			@icon.CopyCheck(icon.Props{Size: 13})
		</span>
	}
}
